<div class="container">
  <%= form_for @wiki do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
    <br>
      <%= f.label :body %>
      <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter wiki body" %>
    <br>
    <% if current_user.admin? || current_user.premium? %>
      <%= f.label :private %>
      <%= f.check_box :private %>
    <br>
      <%= link_to "Manage Collaborators", wiki_collaborators_path(@wiki), class: "btn btn-info" %>
    <br>
    <% end %>
    <br>
    <%= f.submit "Save", class: 'btn btn-success' %>
  <% end %>
</div>
